</div>
</div> <!--Required to close bootstrap row-->
<div id="message"> </div>
<div id="footer" class="row">
    Work hard, so you can play harder!
</div>
</div> <!--Required to close bootstrap container-->
</body>
</html>