<!DOCTYPE html>
<html>
<head>
    <title>The Workout Game</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <% if (typeof js_includes !== 'undefined') { %>
    <% for(var i = 0; i < js_includes.length; i++) { %>
    <script src="<%= js_includes[i] %>"></script>
    <% } %>
    <% } %>
</head>
<body>
<div class="container-fluid">
    <div class="pull-right" style="color:white">
        <% if(typeof firstname !== "undefined") { %>
        Welcome, <%= firstname %>
        <% } else { %>
        <a href="/signup">Signup</a> <a href="/login">Login</a>
        <% } %>
    </div>
    <div id="header" class="row">
        The Workout Game
    </div>
    <!--    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </nav>-->
    <div class="row">
        <div id="nav" class="col-lg-1 col-md-2 col-xs-5">
            <a href="/user/">Workouts!</a>
            <br/>
            <a href="/user/friends">Friends</a>
            <br/>
            <a href="/hof/hall">Hall of Fame</a>
            <br/>
            <a href="/about">About</a>
            <br/>
            <% if(typeof firstname !== "undefined") { %>
            <a href="/logout">Logout</a><br/>
            <% } %>
        </div>
        <div id="content" class="col-lg-11 col-md-10 col-xs-7">
