<% var js_includes = ['https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js', '/javascripts/login_ajax.js']%>
<% include ../partials/header %>

<h1>Login</h1>
<form class="form-inline">
    <div class="form-group">
    <label for="username">Username:</label>
        <input type="text" class="form-control" id="username"/>
    </div>
    <div class="form-group">
    <label for="password">Password:</label>
        <input type="password" class="form-control" id="password"/><br />
    </div>
    <div class="form-group">
    <button class="btn btn-default" id="loginBtn">Time to rage!</button>
    </div>
    <div id="message"></div>
</form>

<% include ../partials/footer %>