<% include partials/header %>
<h1>About us</h1>
<p>We are The Workout Game!</p>
<p>We'll help you destroy your fat and your friends in this competitive workout funness! Because that's what we
believe in. We bring people together so that they can rip each other apart!!! Oh yeah!!!!!</p>
<p>If you have any questions, feel free to contact us at theworkoutgame@twg.com</p>
<% include partials/footer %>