<% include partials/header %>
  <h2>GET RIPPED! The fun way!</h2>
  <h3>With your friends!!!</h3>
  <p>Have you ever wanted to get physically fit? But it just wasn't very much fun without a website like this one?</p>
  <p>Well, you're in luck because now there is a website just like this one!</p>
  <p>Signup now if you're new or login to GET RIPPED!</p>
<% include partials/footer %>
