<% include partials/header %>
<div id="content">
  <table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Professor</th>
  </tr>
  <tr>
    <td>CS450</td>
    <td>Operating Systems</td>
    <td>Rivoire</td>
  </tr>
  <tr>
    <td>CS355</td>
    <td>Database Design</td>
    <td>Haderman</td>
  </tr>
  <tr>
    <td>CS390</td>
    <td>Computer Science Colloquium</td>
    <td>Ledin</td>
  </tr>
  <tr>
    <td>CS470</td>
    <td>Advanced Software Design Project</td>
    <td>Kooshesh</td>
  </tr>
  </table>
  <p>The top three things I've learned:</p>
  <ol>
    <li>C programming</li>
    <li>Parallel Programming</li>
    <li>Object-oriented Programming</li>
  </ol>
  <p>Three things I want to learn:</p>
  <ul>
    <li>Unit testing</li>
    <li>More programming (especially functional programming)</li>
    <li>AI algorithms</li>
  </ul>
  <button id="alert">Click Me</button>
</div>
<% include partials/footer %>
